html {
  font-size: 1.5rem;
}

header {
  height: 80px;
  padding: 1rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  border: 1px solid black;
}
header h2 {
  color: rgb(0, 128, 28);
  justify-self: start;
}
.nav {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 22px;
  justify-self: end;
}
a {
  color: green;
  text-decoration: none;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(477px, 1fr));
  grid-gap: 20px 20px;
  align-content: center;
  align-items: center;
  padding: 5rem;
}
.article {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1px solid whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.article-img {
  max-width: 100%;
  object-fit: cover;
}
.body {
  width: 90%;
  font-size: 1rem;
}
footer {
  height: 100px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  border: 1px solid black;
}
footer > a {
  grid-column: 4/12;
}
